<div class="mt-4">
  <!--
  <div class="relative">
    <input class="appearance-none bg-white rounded-lg py-4 pl-4 pr-10 w-full border border-solid border-gray-400 placeholder-gray-700 outline-blue-500 shadow" type="text" placeholder="Nach Begriff suchen">
    <i class="absolute right-0 top-0 text-lg h-full flex items-center leading-none mr-4 text-gray-700"><fa-icon [icon]="faSearch"></fa-icon></i>
  </div>
  -->
  <ul class="text-sm mt-4">
    <li class="inline-block mr-2 md:mr-4 text-gray-800">z.B:</li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">
      <a routerLink="/glossar/abap-bc-aba/58035/A">ABAP</a>
    </li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">
      <a routerLink="/glossar/launchpad-ca/55667/L">LaunchPad</a>
    </li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">
      <a routerLink="/glossar/financials-sbo/67200/F">Financials (SBO)</a>
    </li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">
      <a routerLink="/glossar/controlling-document-co/48482/C">Controlling</a>
    </li>
  </ul>
</div>
