<div class="mt-4">
  <div class="relative">
    <input class="appearance-none bg-white rounded-lg py-4 pl-4 pr-10 w-full border border-solid border-gray-400 placeholder-gray-700 outline-blue-500 shadow" type="text" placeholder="Nach Begriff suchen">
    <i class="absolute right-0 top-0 text-lg h-full flex items-center leading-none mr-4 text-gray-700"><fa-icon [icon]="faSearch"></fa-icon></i>
  </div>
  <ul class="text-sm mt-4">
    <li class="inline-block mr-2 md:mr-4 text-gray-800">z.B nach:</li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">Fiori</li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">S/4Hana</li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">LSMW</li>
    <li class="inline-block mx-2 md:mx-4 uppercase text-blue-500 font-semibold">XI</li>
  </ul>
</div>
