<ng-container *ngIf="loading; else loaded">
  <ul class="columns-1 sm:columns-2 md:columns-3 gap-4 md:gap-8">
    <ng-container *ngFor="let item of loader">
      <li class="mb-4">
        <span class="h-6 w-5/6 bg-gray-400 block"></span>
      </li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="data && data.length > 0; else noItems">
    <ul class="columns-1 sm:columns-2 md:columns-3 gap-4 md:gap-8">
      <ng-container *ngFor="let item of data">
        <li class="mb-4">
          <a href="/glossar/{{item.title | slug}}/{{item.id}}/{{section.char}}" class="flex flex-row justify-between items-center pr-8 text-gray-650 text-lg font-medium hover:text-blue-500 hover:underline duration-200 ease-in-out transition-all">
            {{item.title}}
            <i><fa-icon [icon]="faLink"></fa-icon></i>
          </a>
        </li>
      </ng-container>
    </ul>
    <ng-container *ngIf="data && data.length >= 49 && !navigation">
      <div class="mt-4 pt-4">
        <a routerLink="/glossar/{{section.char}}" class="flex flex-row items-center pr-8 text-blue-500 text-base font-semibold hover:text-orange-500 hover:underline duration-200 ease-in-out transition-all" i18n>
          Alle anzeigen
          <i class="ml-2"><fa-icon [icon]="faArrow"></fa-icon></i>
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="navigation && meta && data">
      <div class="w-full flex flex-row flex-wrap items-center justify-between mt-8 pt-4 border-t border-solid border-gray-400" *ngIf="meta">
        <div class="flex flex-row">
          <button (click)="pagination('start')" *ngIf="meta.current_page > 1" class="appearance-none flex justify-center items-center w-8 h-8">
            <fa-icon class="w-4-h4" [icon]="faStart"></fa-icon>
          </button>
          <button (click)="pagination('prev')" *ngIf="meta.current_page > 1" class="appearance-none flex justify-center items-center w-8 h-8">
            <fa-icon class="w-4-h4" [icon]="faPrevious"></fa-icon>
          </button>
        </div>
        <div class="p-4">
          <p class="text-xs"><span i18n>Einträge</span>: <span class="font-bold">{{meta.from}}</span> - <span class="font-bold">{{meta.to}}</span> | <span i18n>Gesamt</span>: <span class="font-bold">{{meta.total}}</span></p>
        </div>
        <div class="flex flex-row">
          <button (click)="pagination('next')" *ngIf="meta.current_page < meta.last_page" class="appearance-none flex justify-center items-center w-8 h-8">
            <fa-icon class="w-4-h4" [icon]="faNext"></fa-icon>
          </button>
          <button (click)="pagination('end')" *ngIf="meta.current_page < meta.last_page" class="appearance-none flex justify-center items-center w-8 h-8">
            <fa-icon class="w-4-h4" [icon]="faEnd"></fa-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noItems>
    <p class="text-gray-650 text-lg font-medium" i18n>Keine Einträge</p>
  </ng-template>
</ng-template>
