<app-header></app-header>
<main class="w-full">
  <section id="stage" class="px-8 py-16 md:py-32 bg-blue-200">
    <div class="max-w-stage w-full mx-auto flex flex-row flex-wrap">
      <div class="w-full md:w-1/2">
        <h1 class="text-gray-800 text-4xl font-semibold leading-tight mb-4" i18n>404</h1>
        <p class="text-base md:text-lg text-gray-700" i18n>
          Die Seite konnte nicht gefunden werden.
        </p>
      </div>
      <div class="w-1/2 hidden md:block"></div>
    </div>
  </section>
</main>
<app-footer></app-footer>
